.productList {
        width: 80%;
    display: flex
;
    height: 72vh;
    overflow: auto;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: left;
    padding-left: 0.4vw;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #605a51;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #e1dad1;
    cursor: pointer;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bbafa0;
}