.wrapper {
  width: 100%;
  padding: 2vw;
  background: #222;
  border-radius: 1vw;
  overflow: hidden;
     
}



.tableWrapper {
  max-height: 90%;
  overflow-y: auto;
  border-radius: 0.5vw;
  border: 1px solid #e1dad1;
  background: #222;

}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
  color: #e1dad1;
  font-size: 1vw;
}

.thead th {
  background: #303030;
  color: #e1dad1;
  padding: 0.7vw 0.5vw;
  border-bottom: 2px solid #e1dad1;
  position: sticky;
  top: 0;
  z-index: 2;
}

th, td {
  border: 1px solid #e1dad1;
  padding: 0.5vw 0.5vw;
  text-align: center;
  vertical-align: middle;
}

tr:nth-child(even) {
  background: #282828;
}

tr:hover {
  background: #353535;
}

.photo {
  max-width: 140px;
  max-height: 140px;
  object-fit: cover;
  border-radius: 0.5vw;
  border: 1px solid #e1dad1;
}

.editButton, .deleteButton {
  margin: 0 0.2vw;
  padding: 0.3vw 0.8vw;
  border-radius: 0.3vw;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}

.editButton {
  background: #e1dad1;
  color: #303030;
  margin-bottom: 1vh;
}

.editButton:hover {
  background: #d1c7b7;
}

.deleteButton {
  background: #ffdddd;
  color: #a00;
}

.deleteButton:hover {
  background: #ffbdbd;
  color: #fff;
}

.footer {
  height: 1vw;
  width: 100%;
  background: #222;
  border-radius: 0 0 0.5vw 0.5vw;
  border: 1px solid #e1dad1;
}


