
.slider_content {
  display: flex;
    gap: 1vw;
  justify-content: space-between;
  align-items: center;
      width: 90%; 
      margin: 0 auto;
}

.slider_item {

  box-shadow: 5px 5px 10px #222;
  border-radius: 1vw;
  width: 35%;
  min-height: 33vw;
  max-height: 33vw;
  background-color: #e1dad1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  overflow: hidden;
}

.slider_item img {
  box-shadow: 0px 0px 10px #222;
  width: 100%;
  height: 17vw;
  filter: brightness(0.9);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  object-fit: cover;
}

.slider_item h3 {
  height: 2.3vw;
  max-height: 2.8vw;
  color: #334;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  margin: 0.5vw 0 0.2vw 0;
}



.cost_description {
  overflow: auto;
  
  max-height: 7vw;
  color: #444;
  font-size: 0.8vw;
  margin: 0 1vw 1vw 1vw;
  
}

.slider_title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5vw;
  color: #e1dad1;
  margin-bottom: 2.5vw;
}

.slider_button {
  width: 4vw;
  height: 4vw;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s;
 margin: 0 1.3vw;
}

.slider_button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) invert(1); /* если нужна белая стрелка на тёмном фоне */
}

.slider_button:hover {
  transform: scale(1.15);
}

.cost_service {
  color: #444;
  text-align: center;
  font-size: 1vw;
  margin-top: 0.3vw;
  margin-bottom: 1.2vw;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    cursor: pointer;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #777;
    border-radius: 5px;
}

.button_service {
  font-size: 0.9vw;
    color: #303030;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border: 0.1vw solid #303030;
    border-radius: 1vw;
    text-decoration: none;
    transition: all 0.2s;   
    margin-bottom: 1vw;
    cursor: pointer;
    background-color: #e1dad1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: auto;
}

.button_service:hover {
  background-color: #303030;
  color: #e1dad1;
  
}

