.cart {
    display: flex;
    margin: 2vw 2vw;
    justify-content: space-between;
}

.cart_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.cart_empty {
    font-size: 2vw;
    text-align: center;
    margin: 3vw 0;
}

