.wrapper {
  width: 100%;
  padding: 2vw;
  background: #222;
  border-radius: 1vw;
  overflow: hidden;
     
}

.tableWrapper {
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.5vw;
  border: 1px solid #e1dad1;
  background: #222;

}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
  color: #e1dad1;
  font-size: 1vw;
  table-layout: fixed;
}

.thead th {
  background: #303030;
  color: #e1dad1;
  padding: 0.7vw 0.5vw;
  border-bottom: 2px solid #e1dad1;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table th, .table td {
  border: 1px solid #e1dad1;
  padding: 0.5vw 0.5vw;
  text-align: center;
  vertical-align: middle;
}

.table tr:nth-child(even) {
  background: #282828;
}

.table tr:hover {
  background: #353535;
}

.messageCell {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.table th:nth-child(1), .table td:nth-child(1) { width: 14%; }
.table th:nth-child(2), .table td:nth-child(2) { width: 12%; }
.table th:nth-child(3), .table td:nth-child(3) { width: 12%; }
.table th:nth-child(4), .table td:nth-child(4) { width: 12%; }
.table th:nth-child(5), .table td:nth-child(5) { width: 15%; }
.table th:nth-child(6), .table td:nth-child(6) { width: 30% ; }

.select {
  background: #333;
  color: #e1dad1;
  border: 1px solid #e1dad1;
  border-radius: 0.3vw;
  padding: 0.2vw 0.4vw; 
   font-size: 0.8vw;  
  cursor: pointer;
  width: 100%;           
  max-width: 100%;       
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23e1dad1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5vw center;
  background-size: 1.2vw;
  padding-right: 2vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:focus {
  outline: none;
  border-color: #fff;
}