a:-webkit-any-link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  text-align: center;
}

.form {
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 2.5vw;
  background-color: #e1dad1;
  border-radius: 5px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form h1 {
  font-size: 1.4vw;
  color: #303030;
  filter: brightness(1.5);
  margin: 0 0 15px;
}

.form input {
  background-color: #fff;
  filter: brightness(0.9);
  color: #303030;
  padding: 0.3vw;
  margin-top: 5px;
  border: 2px solid #e1dad1;
  border-radius: 5px;
  font-size: 0.9vw;
  width: 20vw;
}

.button {
  background-color: #303030;
  color: #e1dad1;
  border: none;
  border-radius: 5px;
  padding: 0.5vw 0vw;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
  width: 100%;
}

.footer {
  font-size: 0.9vw;
  color: #333;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
