.catalog {
    width: 90%;
    margin: 1.5vw auto;
}

.catalog_header {
    display: flex;
    justify-content: space-between;
  align-items: end;
}

.catalog_content {
  margin-top: 1vw;
    display: flex;
font-family: "Lato", sans-serif;

}

.catalog_content_right {
  width: 80%;
    display: flex
;
    height: 72vh;
    overflow: auto;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: left;
    padding-left: 0.4vw;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;
    margin-left: 20px;
}