.productCard {
    box-shadow: 0px 0px 10px #000;
    border-radius: 0.5vw;
    padding: 0.8vw;
    height: 21.5vw;
    width: 15vw;
    text-align: left;
    border: 0.13vw solid transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.productCard:hover {
      border: 0.13vw solid #444
}

.product_image {
    height: 8.5vw;
    object-fit: cover;
    border-radius: 0.5vw;
    width: 100%;
}

.product_name {
color: #f8f8f8;
    filter: brightness(0.7);
    text-align: center;
    font-size: 1vw;
    margin: 10px 0;
        height: 3.5vw;
}

.product_category {
    white-space: nowrap;
    margin: 0px 0;
    font-size: 1vw;
    color: #666;
}

.price_product {
    font-size: 1.3vw !important;
    color: #fff !important;
    filter: brightness(0.8);
    
}

.add_to_cart_button {

    background-color: #e1dad1;
    color: #303030;
    border: none;
    border-radius: 5px;
    padding: 0.3vw;
    cursor: pointer;
    font-size: 0.9vw;
    font-weight: bold;
    margin-top: 0.9vw;
    display: block;
    width: 100%;
    text-align: center;
    transition: all 0.2s;
}

.add_to_cart_button:hover {
    background-color: #b39d81;
}

.add_to_cart_button:active {
    background-color: #8a8379;
    transform: scale(0.95);
}
