.navbar {
  width: 90%;
  font-size: 1.5vw;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2vw;
  font-weight: 600;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5vw;
  text-decoration: underline;
  color: #e1dad1;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.links a {
  position: relative;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  width: 0;
  height: 0.2vw;
  background-color: #e1dad1;
  transition: width 0.3s ease-in-out;
}

.links a:hover::after {
  width: 100%;
}

.reg-button {
  box-shadow: 0px 0px 10px #000;
  background-color: #e1dad1;
  color: #303030;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1vw;
  padding: 0.5vw 1vw 0.2vw 1.5vw;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
}

.reg-button:active {
  background-color: #a98759;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons {
  gap: 2vw;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 22%;
}

.cart_wrapper {
  position: relative; /* Родитель для абсолютного позиционирования */
  display: inline-block;
}

.icon {
  cursor: pointer;
  width: 3vw;
  transition: all 0.2s;
  display: block; 
}

.cart_count {
  position: absolute;
  bottom: -0.3vw; 
  right: -0.3vw; 
  background-color: #964141;
  color: #e1dad1;
  border-radius: 50%;
  width: 1.5vw; 
  height: 1.5vw; 
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  font-weight: 600;
  pointer-events: none; 
}

.icon:hover {
  transform: scale(1.1);
}

.icon:active {
  transform: scale(0.95);
}

.button-container {
  display: inline-block;
  text-decoration: none;
  width: 22%;
}



