.backdrop {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;    
}

.modal{
   background-color: #e1dad1;
    border-radius: 0.5vw;
    padding: 2vw;
    max-width: 22vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal_title{
    text-align: center;
    margin: 0 0 15px;
    font-size: 1.7vw;
    color: #333;
    text-wrap: nowrap;
    border-bottom: 2px solid #333;
    padding-bottom: 0.3vw;
}
.modal_subtitle{
        gap: 7px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.modal_subtitle_text{
    font-size: 1.2vw;
    color: #333;
}

.modal_input_text{
     border: none;
    margin: 0.7vw 0 1.5vw 0;
    padding: 0.7vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    width: 100%;
    padding: 0.3vw;
}
.modal_input_button{
    cursor: pointer;
    border: none;
    font-size: 1vw;
    border-radius: 0.5vw;
    font-weight: bold;
    background-color: #303030;
    color: #e1dad1;
    width: 100%;
    padding: 0.3vw;
    border: 3px solid transparent;
    transition: all 0.3s;
}

.modal_input_button:active{
    transform: scale(0.98);
}
.modal_text{
        margin: 10px 0;
    font-size: 0.8vw;
    color: #333;
    text-align: center;
}

.close_button {
    position: absolute;
    top: -3vw; 
    right: -2.7vw; 
    background: transparent;
    border: none;
    font-size: 1.8vw; 
    color: #e1dad1;
    transition: color 0.2s;
    z-index: 10;
    cursor: pointer;
}