.button {
    background-color: #e1dad1;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.button:hover {
   transform: scale(1.1);
}

.button img {
    width: 2.3vw;
    height: 2.3vw;
     transition: transform 0.5s;
}

.button img:hover {
  
    transform: scale(1.1);
}
