.admin_slider {
    border-radius: 0.5vw;
    width: 25%;
    font-size: 1.3vw;
    padding: 0.5vw;
    background-color: #e1dad1;
    display: flex;
    flex-direction: column;
}

.admin_slider_button  {
  background-color: #303030;
  display: block;
  
  padding: 0.5vw;
  margin: 0.1vw 0;
  border-radius: 0.5vw;
  text-decoration: none;
  color: #e1dad1;
  font-weight: bold;
  transition: all 0.3s;
  font-size: 1.3vw;
  text-align: left;
  cursor: pointer;
}

.admin_slider_button:hover {
filter: brightness(0.8);
}

.admin_slider_button_active {
filter: brightness(0.7);
}

.button {
  
   align-self: center;
  margin-top: auto;
}
